check process postgresql with pidfile <%= node['vagrant_postgres']['pidfile'] %>
  start program = "/etc/init.d/postgresql start"
  stop program = "/etc/init.d/postgresql stop"
  if 15 restarts within 15 cycles then timeout
