upstream afterschool {
  server unix:/vagrant/tmp/sockets/unicorn.sock fail_timeout=0;
}

server { # main app
  listen 80;
  server_name .<%= @server_name %>;

  root /vagrant/public;

  location / {
    # needed to forward user's IP address to rails
    proxy_set_header  X-Real-IP         $remote_addr;
    proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header  Host              $http_host;
    proxy_set_header  X-Forwarded-Proto $scheme;

    # # supported in version >=1.3.9
    # proxy_set_header  X-Queue-Start     "t=${msec}";

    proxy_redirect off;
    proxy_max_temp_file_size 0;

    client_max_body_size 58M;

    proxy_pass http://afterschool;
  }

  location ~* \.(eot|ttf|woff|svg)$ {
    add_header Access-Control-Allow-Origin *;
    proxy_pass http://afterschool;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   html;
  }
}
